{% extends "task_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block nav_content %}
    {% include '_task_nav.html' %}
{% endblock %}



{% block page_content %}
    <div class="page-header">
        <h3>模型训练</h3>
    </div>

    {% if not task.confirmed_4 %}
        <div>
            {{ wtf.quick_form(form) }}
        </div>
    {% endif %}


    {% if  task.confirmed_4 %}
        <div class="well">
            <samp>
                <div style="white-space:pre">{{ content | safe }}</div>
            </samp>
        </div>
    {% endif %}


{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
